<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users - CodeJAva</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!--
    To prevent user from navigate to previous page using back button of the browser
    or the back option in the context menu in my html page. Not the perfect,
    however it will handle the error with login params for controller.
    -->
    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>

</head>
<body>

<header>
    <h1 class="bank-name">Bank Name</h1>
    <div class="logoutSection">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</header>

<div class="mainContent">
    <div class="info-container">
        <!-- Have to login ! -->
        <h3 th:text="${user.firstName} + ' ' + ${user.lastName}">Name Surname</h3>
        <div class="infoColumns">
            <div class="leftCol">
                <p>Account number:</p>
                <p>E-mail:</p>
            </div>
            <div class="rightCol">
                <p th:text="'123456-789'">number</p>
                <!--                need to add variable and read from user: ${listUsers}-->
                <!--                <p th:text="${user.email}">email</p>-->
                <p th:text="${#authentication.getName()}">email</p>
            </div>
        </div>
    </div>

    <div class="mid-container">
        <div class="left-accounts">
            <h2>Open accounts:</h2>

            <div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <!--                        <th>User ID</th>-->
                        <th>Currency Account</th>
                        <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="account: ${listAccounts}">
                        <!--                        <td th:text="${user.id}">User ID</td>-->
                        <td th:text="${account.getCurrency}">Currency</td>
                        <td th:text="${account.getBalance}">Balance</td>
                        <!--            <td th:text="${account.firstName}">First Name</td>-->
                    </tr>
                    </tbody>

                </table>
            </div>

        </div>
        <div class="right-exchange">
            <h2>Exchange rate:</h2>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Show Exchange Rates
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Exchange Rates</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div>
                                <table class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <!--                        <th>User ID</th>-->
                                        <th>Country</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>Code</th>
                                        <th>Exchange Rate</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="exRate: ${listExchangeRates}">
                                        <td th:text="${exRate.getCountry}">Country</td>
                                        <td th:text="${exRate.getCurrency}">Currency</td>
                                        <td th:text="${exRate.getAmount}">Amount</td>
                                        <td th:text="${exRate.getCode}">Code</td>
                                        <td th:text="${exRate.getExchangeRate}">Exchange Rate</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--  th:action = default action of form-->
    <form method="post" th:action="@{/deposit}">
        <h2>Functions:</h2>

        <div class="message-container" th:if="${show}">
            <div th:if="${success}" class="alert alert-success">
                <p th:text="${message}"></p>
            </div>
            <div th:if="not ${success}" class="alert alert-danger">
                <p th:text="${message}"></p>
            </div>
        </div>

        <div>
            <label for="account-type">Account type:</label>
            <select id="account-type" name="accountType">
                <option value="AUD">AUD</option>
                <option value="BRL">BRL</option>
                <option value="GBN">GBN</option>
                <option value="CNY">CNY</option>
                <option value="DKK">DKK</option>
                <option value="EUR">EUR</option>
                <option value="PHP">PHP</option>
                <option value="HKD">HKD</option>
                <option value="INR">INR</option>
                <option value="IDR">IDR</option>
                <option value="ISK">ISK</option>
                <option value="ILS">ILS</option>
                <option value="JPY">JPY</option>
                <option value="ZAR">ZAR</option>
                <option value="CAD">CAD</option>
                <option value="KRW">KRW</option>
                <option value="HUF">HUF</option>
                <option value="MYR">MYR</option>
                <option value="MXN">MXN</option>
                <option value="XDR">XDR</option>
                <option value="NOK">NOK</option>
                <option value="NZD">NZD</option>
                <option value="PLN">PLN</option>
                <option value="RON">RON</option>
                <option value="SGD">SGD</option>
                <option value="SEK">SEK</option>
                <option value="CHF">CHF</option>
                <option value="THB">THB</option>
                <option value="TRY">TRY</option>
                <option value="USD">USD</option>
                <option value="GBP">GBP</option>
            </select>
        </div>

        <div>
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount">
            <select name="currency">
                <option value="AUD">AUD</option>
                <option value="BRL">BRL</option>
                <option value="GBN">GBN</option>
                <option value="CNY">CNY</option>
                <option value="DKK">DKK</option>
                <option value="EUR">EUR</option>
                <option value="PHP">PHP</option>
                <option value="HKD">HKD</option>
                <option value="INR">INR</option>
                <option value="IDR">IDR</option>
                <option value="ISK">ISK</option>
                <option value="ILS">ILS</option>
                <option value="JPY">JPY</option>
                <option value="ZAR">ZAR</option>
                <option value="CAD">CAD</option>
                <option value="KRW">KRW</option>
                <option value="HUF">HUF</option>
                <option value="MYR">MYR</option>
                <option value="MXN">MXN</option>
                <option value="XDR">XDR</option>
                <option value="NOK">NOK</option>
                <option value="NZD">NZD</option>
                <option value="PLN">PLN</option>
                <option value="RON">RON</option>
                <option value="SGD">SGD</option>
                <option value="SEK">SEK</option>
                <option value="CHF">CHF</option>
                <option value="THB">THB</option>
                <option value="TRY">TRY</option>
                <option value="USD">USD</option>
                <option value="GBP">GBP</option>
            </select>
        </div>

        <div class="buttons-container">
            <button type="submit" name="action" th:formaction="@{/deposit}">Deposit (+)</button>
            <button type="submit" name="action" value="payment" th:formaction="@{/payment}">Payment (-)</button>
            <button type="submit" name="action" value="open" th:formaction="@{/open}">Open account</button>
            <button type="submit" name="action" value="close" th:formaction="@{/close}">Close account</button>
        </div>
    </form>

</div>
</body>

<!--For valid the decimal number >= 0 and up to three decimal places-->
<script>
    const amountInput = document.getElementById("amount");
    const regex = /^[0-9]+(\.[0-9]{1,3})?$/;
    amountInput.addEventListener("input", (event) => {
        const value = event.target.value.trim();
        if (regex.test(value)) {
            amountInput.setCustomValidity("");
        } else {
            amountInput.setCustomValidity("Please enter a valid number (>=0 and up to three decimal places)");
        }
    });
</script>


<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #003366;
        color: #ffffff;
        padding: 20px;
    }
    .bank-name {
        /*font-size: 36px;*/
        font-size: 5vw;
        margin: 0;
    }
    .logoutSection {
        text-align: right;
    }

    body {
        margin: 0;
    }
    .mainContent {
        margin: 10px;
    }

    /*First Info*/
    .infoColumns {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .leftCol {
        display: flex;
        flex-direction: column;
    }
    .leftCol p {
        margin-bottom: 0;
    }
    .rightCol {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .rightCol p {
        margin-bottom: 0;
    }

    /*Open Accounts: and Exchange Rate:*/
    .mid-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .left-accounts {
        display: flex;
        flex-direction: column;
    }
    .right-exchange {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /*Function buttons*/
    .buttons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        margin-top: 10px;
    }
    .buttons-container button {
        padding: 10px;
    }

</style>

</html>